<script>
    var client = contentful.createClient({
      space: 'll66snvweeb7',
      accessToken: 'mErSxsEkpOUs_56fRjR21_mwLSkEBtld2ue8arOImNo',
    });
    client.sync({ initial: true }).then((response) => {
      console.log(response.entries[0]);
      console.log(response.assets);
      const locale = document.getElementById('language').innerHTML;
      console.log('locale', locale)
      const card = document.getElementById("review-card");
      card.innerHTML = `
        <div class="product-info">
          <img src="${response.entries[0].fields.productImage['en-US'].fields.file['en-US'].url}" alt="${response.entries[0].fields.title[locale]}">
          <h4>${response.entries[0].fields.title[locale]}</h4>
        </div>
        <div class="reviewer">${response.entries[0].fields.authorName[locale]}</div>
        <div class="stars">${generateStars(response.entries[0].fields.rating['en-US'])}</div>
        <div class="review-text">${response.entries[0].fields.productDescription[locale]}</div>
      `;
    });

  function generateStars(rating) {
      const fullStar = "★";
      const emptyStar = "☆";
      return fullStar.repeat(rating) + emptyStar.repeat(5 - rating);
    }
</script>

<div class="review row">
  {{ localization.language.iso_code }}
  {% if localization.country.iso_code == 'US' %}
    <div id="language">en-US</div>
  {% else %}
    <div id="language">hi</div>
  {% endif %}
  <div class="review-card" id="review-card">
    <!-- Dynamic content will be injected here -->
  </div>
</div>

    <style>

      #language {
        display: none;
      }

      .review {
        margin:15px;
      }

    .review-card {
      
      background: #fff;
      width: 350px;
      padding: 20px;
      border-radius: 15px;
      margin-left: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .product-info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .product-info img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 15px;
    }

    .product-info h4 {
      margin: 0;
      font-size: 18px;
    }

    .reviewer {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .stars {
      color: #fbc02d;
      margin: 5px 0;
    }

    .review-text {
      font-size: 15px;
      color: #555;
      line-height: 1.5;
    }
  </style>